<div class="main pictures-index">
  <div class="container">
    <% @pictures.each do|picture|%>
      <div class="pictures-index-item">
      <%= link_to(picture.content,"/pictures/#{picture.id}") %>
      </div>
    <% end %>
    </div>
  </div>
</div>
