<div class="main pictures-index">
  <div class="container">
    <% @pictures.each do|picture|%>
      <div class="pictures-index-item">
        <%= picture.content %>
      </div>
    <% end %>
    </div>
  </div>
</div>
