<header>
  <div class="header-logo">
    <a href="/">InstaApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">InstaAppとは</a>
    </li>
  </ul>
</header>

<%
  pictures = [
    "今日からインスタクローン課題始めたよー！",
    "投稿一覧ページ作成中！"
  ]
%>

<div class="main pictures-index">
  <div class="container">
    <% @pictures.each do|picture|%>
      <div class="pictures-index-item">
        <%= picture.content %>
      </div>
    <% end %>
    </div>
  </div>
</div>
