<header>
  <div class="header-logo">
    <a href="/">InstaApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">InstaAppとは</a>
    </li>
  </ul>
</header>
<% picture1 ="今日からインスタクローン課題始めたよー！" %>
<% picture2 ="投稿一覧ページ作成中！" %>

<div class="main pictures-index">
  <div class="container">
    <div class="pictures-index-item">
      <%= picture1 %>
    </div>
    <div class="pictures-index-item">
      <%= picture2 %>
    </div>
  </div>
</div>

      
      
    </div>
  </div>
</div>
