<div class="main pictures-show">
  <div class="container">
    <div class="pictures-show-item">
      <p>
        <%= @picture.content %>
      </p>
      <div class="picture-time">
        <%= @picture.created_at %>
      </div>
      <div class="picture-menus">
        <%= link_to("編集","/pictures/#{@picture.id}/edit") %>
        <%= link_to("削除", "/pictures/#{@picture.id}/destroy",{method:"post"}) %>
    </div>
  </div>
</div>